<!-- MAIN HTML FILE-->
<main class="space-bottom" id="clickbus-landing-page-content">
    <img src="https://static.clickbus.com/live/ClickBus/banners/campanhas/2019/bota-fora-clickbus/mobile/banner-lp-mobile.jpg"
         class="banner-campaign" alt="Bota Fora ClickBus" title="Bota Fora ClickBus">

    <section id="top-promotions" class="section">
        <div class="h-padding">
            <div class="main-title with-subtitle color-purple">
                <h2>Principais destinos Bota Fora ClickBus</h2>
                <span>Pesquise por dia, origem e destino. Ofertas e assentos limitados.</span>
            </div>
            <!-- /. main-title with-subtitle -->
        </div>
        <!-- /.h-padding -->

        <div id="card-routes-list">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <div class="card-offer-route glide__slide">
                        <a href="https://clickbus.com.br" target="_blank"
                           title="Passagem de Ônibus de Curitiba para Porto Alegre">
                            <div class="wrapper-image shadow-inside">
                                <img src="https://static.clickbus.com/live/destinos/porto-alegre.jpg"
                                     alt="Porto Alegre">
                                <span>Confira</span>
                            </div>
                            <!-- /.wrapper-image -->

                            <div class="legend-offer d-flex flex-row flex-align-items-center">
                                <div class="left-offer">
                                    Curitiba <i class="icon-arrow-right"></i> <br> Porto Alegre
                                </div>
                                <!-- /.left-offer d-flex flex-column -->

                                <div class="right-offer">
                                    <span class="old-price">R$100,00</span>
                                    <span class="current-price">R$01,75</span>
                                    <!-- /.old-price -->
                                </div>
                                <!-- /.right-offer d-flex flex-column -->
                            </div>
                            <!-- /.legend-offer d-flex flex-row flex-align-items-center -->
                        </a>
                    </div>
                    <!-- /.card-offer-route glide__slide -->

                    <div class="card-offer-route glide__slide">
                        <a href="https://clickbus.com.br" target="_blank"
                           title="Passagem de Ônibus de Curitiba para Porto Alegre">
                            <div class="wrapper-image shadow-inside">
                                <img src="https://static.clickbus.com/live/destinos/porto-alegre.jpg"
                                     alt="Porto Alegre">
                                <span>Confira</span>
                            </div>
                            <!-- /.wrapper-image -->

                            <div class="legend-offer d-flex flex-row flex-align-items-center">
                                <div class="left-offer">
                                    Curitiba <i class="icon-arrow-right"></i> <br> Porto Alegre
                                </div>
                                <!-- /.left-offer d-flex flex-column -->

                                <div class="right-offer">
                                    <span class="old-price">R$100,00</span>
                                    <span class="current-price">R$01,75</span>
                                    <!-- /.old-price -->
                                </div>
                                <!-- /.right-offer d-flex flex-column -->
                            </div>
                            <!-- /.legend-offer d-flex flex-row flex-align-items-center -->
                        </a>
                    </div>
                    <!-- /.card-offer-route glide__slide -->

                    <div class="card-offer-route glide__slide">
                        <a href="https://clickbus.com.br" target="_blank"
                           title="Passagem de Ônibus de Curitiba para Porto Alegre">
                            <div class="wrapper-image shadow-inside">
                                <img src="https://static.clickbus.com/live/destinos/porto-alegre.jpg"
                                     alt="Porto Alegre">
                                <span>Confira</span>
                            </div>
                            <!-- /.wrapper-image -->

                            <div class="legend-offer d-flex flex-row flex-align-items-center">
                                <div class="left-offer">
                                    Curitiba <i class="icon-arrow-right"></i> <br> Porto Alegre
                                </div>
                                <!-- /.left-offer d-flex flex-column -->

                                <div class="right-offer">
                                    <span class="old-price">R$100,00</span>
                                    <span class="current-price">R$01,75</span>
                                    <!-- /.old-price -->
                                </div>
                                <!-- /.right-offer d-flex flex-column -->
                            </div>
                            <!-- /.legend-offer d-flex flex-row flex-align-items-center -->
                        </a>
                    </div>
                    <!-- /.card-offer-route glide__slide -->
                </div>
                <!-- /.glide__slides -->
            </div>
            <!-- /.glide__track -->
        </div>
        <!-- /#card-routes-list -->
    </section>
    <!-- / #top-promotions -->

    <section id="complete-list-offers">
        <div class="h-padding">
            <div class="main-title with-subtitle color-white">
                <h2>Viagem barata com assento garantido é na ClickBus!</h2>
                <span>Confira nossas ofertas saindo das maiores cidades</span>
            </div>
            <!-- /.main-title with-subtitle color-white -->

            <div class="filter-options">
                <div class="filter-offer">
                    <label for="origin-offer">Origem</label>
                    <div class="custom-select-box input-field">
                        <span class="icon icon-sort-desc icon-document"></span>
                        <select name="origin-offer" id="origin-offer" class="filter-trigger">
                            <option value="">Todas as opções</option>
                        </select>
                        <!-- /.custom-select-box input-field -->
                    </div> <!-- / .custom-select-box -->
                </div>
                <!-- /.filter-offer -->
            </div>
            <!-- /.filter-options -->

            <div class="filter-options">
                <div class="filter-offer">
                    <label for="destination-offer">Destino</label>
                    <div class="custom-select-box input-field">
                        <span class="icon icon-sort-desc icon-document"></span>
                        <select name="destination-offer" id="destination-offer" class="filter-trigger">
                            <option value="">Todas as opções</option>
                        </select>
                        <!-- /.custom-select-box input-field -->
                    </div> <!-- / .custom-select-box -->
                </div>
                <!-- /.filter-offer -->
            </div>
            <!-- /.filter-options -->

            <div id="list-card-inline-offers"></div><!-- /#list-card-offers -->
        </div>
        <!-- /.h-padding -->
    </section>
    <!-- /#complete-list-inline-offers -->

    <section id="make-search-again" class="section">
        <div class="h-padding">
            <div class="main-title">
                <h2>Pesquise sua viagem</h2>
            </div>
            <!-- /.main-title left -->

            <div id="widget-clickbus-wrapper"></div>

        </div>
        <!-- /.h-padding -->
    </section>
    <!-- /#make-search-again -->

    <section id="campaign-highlights" class="section">
        <div class="list-highlights">
            <div class="h-featured">
                Aproveite o Bota Fora ClickBus e garanta sua passagem!
            </div>
            <!-- /.h-featured -->

            <div class="h-normal">
                Na ClickBus você compara horários, preços e ainda garante sua passagem sem enfrentar
                AQUELA fila
                na rodoviária. E tudo isso com muita facilidade e segurançapara curtir sua
                viagem!
            </div>
            <!-- /.h-normal -->
        </div>
        <!-- /.list-highlights d-flex flex-row flex-align-items-center -->
    </section>
    <!-- /#campaign-highlights -->

    <section id="infographic" class="section-bottom">
        <div class="h-padding">
            <div class="infographic-content">
                <h3>Comprar passagem de ônibus pela internet é muito fácil:</h3>
                <div class="row">
                    <div class="info-wrapper">
                        <img src="https://static.clickbus.com/live/ClickBus/img/lp-reveillon/escolha.svg"
                             alt="Escolha o melhor assento">
                        <p>Escolha a rota, data e horário da sua viagem</p>
                    </div>
                    <!-- /.info-wrapper -->

                    <div class="info-wrapper">
                        <img src="https://static.clickbus.com/live/ClickBus/img/lp-reveillon/garanta.svg"
                             alt="Garanta o melhor assento">
                        <p>Garanta o melhor assento</p>
                    </div>
                    <!-- /.info-wrapper -->

                    <div class="info-wrapper">
                        <img src="https://static.clickbus.com/live/ClickBus/img/lp-reveillon/preencha.svg"
                             alt="Preencha os dados">
                        <p>Preencha os dados do passageiro e a forma de pagamento</p>
                    </div>
                    <!-- /.info-wrapper -->

                    <div class="info-wrapper">
                        <img src="https://static.clickbus.com/live/ClickBus/img/lp-reveillon/clique.svg"
                             alt="Clique e compre">
                        <p>Clique em comprar e pronto. Sua viagem está garantida!</p>
                    </div>
                    <!-- /.info-wrapper -->
                </div>
            </div>
            <!-- /.infographic-content -->
        </div>
        <!-- /.h-padding -->
    </section>
    <!-- /#infographic -->

    <section id="cards-information">
        <div class="h-padding">
            <div class="card-information">
                <div class="card-title">
                    Quer mais facilidade na hora de garantir sua passagem? Baixe o APP da ClickBus!
                </div>
                <!-- /.card-title -->

                <div class="card-description">
                    Para aproveitar o Bota Fora ClickBus, que tal baixar nosso app? É de graça! Comprar passagem
                    de ônibus está mais rápido e fácil :)
                </div>
                <!-- /.card-description -->

                <div class="card-campaign-content">
                    <a href="https://itunes.apple.com/app/id889723827?mt=8" target="_blank"
                       title="Baixe o app da ClickBus na APP Store"> <img
                            src="https://static.clickbus.com/live/ClickBus/img/lp-taxa-zero-app/button-appstore.png"
                            alt="App ClickBus APP Store"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.clickbus.mobile&amp;referrer=adjust_reftag%3Dcrq1lfF89GEWs%26utm_source%3DBR%2BOnsite%26utm_campaign%3DMobile%26utm_content%3DLandingPage%26utm_term%3DBadge"
                       target="_blank" title="Baixe o app da ClickBus na Play Store"><img
                            src="https://static.clickbus.com/live/ClickBus/img/lp-taxa-zero-app/button-googleplay.png"
                            alt="App ClickBus Play Store"></a>
                </div>
                <!-- /.card-campaign-content -->
            </div>
            <!-- /.card-information -->

            <div class="card-information">
                <div class="card-title"> Formas de pagamento</div>
                <!-- /.card-title -->

                <div class="card-description">
                    Com a ClickBus você pode efetuar sua compra com muitos métodos de pagamento. Compre sua
                    passagem de ônibus e pague com cartão de crédito, débito ou PayPal. É simples, rápido e
                    seguro. Tá esperando o quê? Adquira sua passagem para o ano novo com a ClickBus!
                </div>
                <!-- /.card-description -->
            </div>
            <!-- /.card-information -->
        </div>
        <!-- /.h-padding -->
    </section>
    <!-- /#cards-information -->

    <section id="campaign-regulation" class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="main-title">
                        <h2>Regulamento</h2>
                    </div>
                    <!-- /.main-title -->

                    <div id="list-of-terms">
                        <div class="accordion-title">1. Como Participar e Quem Pode Participar</div>
                        <div class="accordion-content">
                            <p>1.1 Para participar da promoção, o cliente deve efetuar a compra de sua passagem
                                exclusivamente através do site da ClickBus (www.clickbus.com.br), tanto na versão para
                                computador quanto para smartphone. </p>
                            <p> 1.2 Para consumir dos descontos oferecidos pela ClickBus, o cliente deve seguir as
                                orientações do item 2. </p>
                            <p>1.3 Podem participar todos os Clientes da Organizadora, observado o item 3 abaixo.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">1. Como Participar e Quem Pode Participar</div>
                        <div class="accordion-content">
                            <p>1.1 Para participar da promoção, o cliente deve efetuar a compra de sua passagem
                                exclusivamente através do site da ClickBus (www.clickbus.com.br), tanto na versão para
                                computador quanto para smartphone. </p>
                            <p> 1.2 Para consumir dos descontos oferecidos pela ClickBus, o cliente deve seguir as
                                orientações do item 2. </p>
                            <p>1.3 Podem participar todos os Clientes da Organizadora, observado o item 3 abaixo.</p>
                        </div>
                        <!-- /.accordion-content -->

                        <div class="accordion-title">1. Como Participar e Quem Pode Participar</div>
                        <div class="accordion-content">
                            <p>1.1 Para participar da promoção, o cliente deve efetuar a compra de sua passagem
                                exclusivamente através do site da ClickBus (www.clickbus.com.br), tanto na versão para
                                computador quanto para smartphone. </p>
                            <p> 1.2 Para consumir dos descontos oferecidos pela ClickBus, o cliente deve seguir as
                                orientações do item 2. </p>
                            <p>1.3 Podem participar todos os Clientes da Organizadora, observado o item 3 abaixo.</p>
                        </div>
                        <!-- /.accordion-content -->
                    </div>
                    <!-- /#list-of-terms -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#campaign-regulation -->

</main>