/**
 * File to create accordions styles
 */

#campaign-regulation {
  background-color: $light-grey;
}

#list-of-terms {
  border-radius: 4px;
  border: 1px solid $boulder;
  div {
    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-of-type , &:nth-last-of-type(2) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.accordion-title {
  padding: 20px 32px;
  background-color: #fff;
  color: $dark-grey;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
}

.accordion-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  padding: 0 32px;
  background-color: #fff;
  border-bottom: 1px solid $boulder;
  font-size: 16px;
  color: darken($grey, 10%);
  line-height: 1.6;
  transition: all .2s ease-out;
  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}