
.card-offer {
  border-radius: 5px;
  padding: 24px 20px 20px;
  background-color: rgba(#fff, 0.3);
  position: relative;
  margin-top: 20px;
  > i {
    position: absolute;
    font-size: 16px;
    color: #fff;
    right: 20px;
    top: 24px;
    transition: 0.2s;
  }

  &.opened {
    > i {
      transform: rotate(180deg);
    }
  }
}

.card-offer-summary {
  padding-right: 20px;
  .route-offer {
    width: 60%;
    span {
      display: block;
      color: #fff;
      font-size: 14px;
      &:first-of-type {
        margin-bottom: 8px;
      }
    }
  }

  .price-offer {
    width: 40%;
    text-align: center;
    span {
      &.old-price {
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 0;
      }

      &.current-price {
        display: block;
        color: $yellow;
        font-weight: 700;
        font-size: 20px;
        margin-top: 2px;
      }
    }
  }
}

.offer-options {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  label {
    display: block;
    width: 100%;
    font-size: 14px;
    color: rgba(#fff, 0.7);
    margin: 16px 0 8px 0;
  }

  .custom-select-box {
    width: 55%;
    height: 32px;

    .icon-document {
      height: 32px;
      line-height: 32px;
      right: 0;
    }

    select {
      height: 32px;
      font-size: 12px;
      width: 100%;
    }
  }

  a {
    display: block;
    width: 40%;
    height: 32px;
    color: $black;
    border-radius: 4px;
    background-color: $yellow;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    margin-left: auto;
  }
}

.card-offer {
  &.opened {
    .offer-options {
      max-height: 600px;
    }
  }
}