/**
* Styles for main page
*/

@import './../../../../node_modules/@glidejs/glide/src/assets/sass/glide.core';

*, *::after, *::before {
  box-sizing: border-box;
}

main {
  display: block;
  width: 100vw;
  overflow: hidden;
}

.banner-campaign {
  display: block;
  width: 100%;
  height: auto;
}

#complete-list-offers {
  background-image: url(https://static.clickbus.com/live/ClickBus/img/img-varejao-carnaval/gradient.svg);
  background-size: cover;
  background-position: 50%;
  padding: 24px 0;
  overflow: hidden;
}

.filter-offer {
  width: 100%;
  label {
    color: rgba(#fff, 0.7);
  }

  .custom-select-box {
    margin-top: 8px;
  }

  select {
    width: 100%;
    font-size: 14px !important;
  }
}

#make-search-again {
  background-color: #fff;
  #clickbus-widget {
    padding: 0;
    &.clickbus-widget-horizontal {
      #clickbus-logo {
        display: none !important;
      }
    }

    ::-webkit-input-placeholder { /* Edge */
      color: $medium-grey;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $medium-grey;
    }

    ::placeholder {
      color: $medium-grey;
    }
  }
}

.pika-table {
  th {
    text-align: center;
    padding: 0 5px 10px 5px
  }
}